/* Import Friends Font */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Set width of logo to 150px, if this is more than 30% of vw, else set it to 30% of vw */
.navbar-logo {
    width: min(30vw, 150px);
}

/* Change Font of Navbar to Friends Font */
.navbar-font {
    font-family: 'Permanent Marker', cursive;
    font-size: 15px;
}

/* Add padding to the top of the page body to avoid the navbar hiding content */
body {
    padding-top: 55px;
}

/* Avoid Footer showing up in the middle of the viewport where page-content fills less than 100vh */
.min-vh-100 {
    min-height: 100vh;
}

.footer-logo {
    width: min(30vw, 150px);
    margin: 0 5vw 0 0;
}

.font-arial {
    font-family: Arial, Helvetica, Verdana;
}

.friends-font {
    font-family: 'Permanent Marker', cursive, Brush Script MT;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

/* Standard style of text paragraphs */
.standard-textp {
    font-family: Arial, Helvetica, Verdana;
    font-size: 1.2em;
    text-align: justify;
    margin-bottom: 30px;
}

.standard-textp-no-margin {
    font-family: Arial, Helvetica, Verdana;
    font-size: 1.2em;
    text-align: justify;
}

/* Make appearance of carousel indicators in index.html device-resonpive */
.c-indicator {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 20vw;
}

/* Quiz.html */
/* Style of Quiz Question */
.quizQ {
    font-family: Arial, Helvetica, Verdana;
    font-size: 1em;
    font-style: italic;
}

/* Hide register button initially */
#registerBtn {
    display: none;
}

/* Seasons.html */
.seasons-img {
    max-height: 80vh;
}

/* index.html --> Text paragraph with image: Display content in row */
.img-right-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: auto;
}

/* create a little bit of spacing on the left side of the image */
#friends_pic07 {
    margin: 0 0 0 30px;
}

/* Style of Character Grid Cards in index.html */
.char-card-img {
    height: min(50vh, 300px);
    object-fit: contain;
}

/* Style of Game Grid Cards in membersarea.html */
.game-card-img {
    max-width: 50%;
    height: auto;
    padding: 5px;
    margin: auto;
}

/* character.html: Remove list indicators on card with character information */
.char-details {
    list-style-type: none;
}

/* Popup Modals */
/* Hide page content while showing a Pop Up Modal */
.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    /* Make sure overlay is on top of all other elements and initially hidden */
    z-index: 999;
    display: none;
}

/* Disable scrolling */
.no-scrolling {
    overflow: hidden;
}

/* Set z-index of the modal higher than the z-index of page-overlay to show the modal on the page-overlay */
.modal {
    z-index: 1000;
}

/* fixed-top is a Bootstrap class to fix the navbar on top of the screen */
/* Set z-index to a lower value than the z-index of the page-overlay, so that the overlay always covers the navbar */
.fixed-top {
    z-index: 998;
}

.char-description-pic {
    max-height: 420px;
}

/* memory.html */
.mem-gameboard-container {
    /* Create device responsive memory gameboard. All cards are visible on screen without the need to scroll. */
    /* Set the width to the minimum of 1. 80% of the visible viewport height or 2. 95% of the visible viewport width or 3. max. 640px */
    width: min(640px, 95vw, 80vh);
    /* Since padding is calculated by the width of the element, the following line essentially creates a 4:3 aspect ratio */
    /* 640/4*3 = 480; 95vw/4*3 = 71.25vw 80vh/4*3 = 60vh */
    padding-top: min(480px, 71.25vw, 60vh);    
    position: relative;
    margin: auto; /* Center gameboard horizontally */
}

.mem-gameboard {
    /* Let the gameboard fill the whole container */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap; /* Enable flex wrap to avoid content overflow on the gameboard */
}

.mem-cell {
    width: calc(25% - 10px); /* Subtract margin, so that exactly four elements fit in one row of the gameboard */
    height: calc(33,333% - 10px); /* Subtract margin, so that exactly 3 elements fit in one column of the gameboard */
    margin: 5px; /* Create space around the memory card cell */
    position: relative;
}

.mem-card { 
    position: absolute;
    max-width: 100%; /* Let the picture fill the whole width of the memory cell... */
    height: auto; /* ...and keep it's aspect ratio */
    border-radius: 0.25rem; /* Round the edges of the picture */
}

/* Container for user's Game Statistics Grid in membersarea */
.gamestats-cont {
    min-width: 400px;
    max-width: 720px;
}

/* puzzle.html */
.puzzle-gameboard-container {
    /* Create device responsive puzzle gameboard. All cards are visible on screen without the need to scroll. */
    /* Set the width to the minimum of 1. 80% of the visible viewport height or 2. 95% of the visible viewport width or 3. max. 640px */
    width: min(640px, 95vw, 65vh);
    /* Since padding is calculated by the width of the element, the following line essentially creates a 1:1 aspect ratio */
    padding-top: min(640px, 95vw, 65vh);
    position: relative;
    margin: auto; /* Center gameboard horizontally */
}

.puzzle-gameboard {
    /* Let the gameboard fill the whole container */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ced4da;
    border: 10px solid #0d6efd;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Enable flex wrap to avoid content overflow on the gameboard */
}

.puzzle-cell {
    width: 33.333%; /* Exactly 3 elements fit in one row of the gameboard */
    height: 33.333%; /* Exactly 3 elements fit in one column of the gameboard */
    position: relative;
}

.puzzle-piece { 
    /* Let the picture fill the whole width of the puzzle cell */
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border: 1px solid white;
}

/* leaderboard.html */
/* Show only current page, previous and next button in leaderboard footer navigation */
ul li.paginate_button.page-item:not(.next):not(.previous):not(.active) {
    display: none;
}

/* Make leaderboard table horizontally scrollable without overflowing the container */
.dt-row {
    overflow: auto;
}

/* Remove "sorting arrows" from leaderboard columns, where sorting is disabled */
#leaderboard th.disable-sorting::before,
#leaderboard th.disable-sorting::after {
    visibility: hidden !important;
}

/* Container, which does not exceed the width of Bootstrap md-container */
.char-cont {
    max-width: 720px;
}

/* Container, which does not exceed the width of Bootstrap sm-container */
.container-max-sm {
    max-width: 540px;
}

@media (max-width: 768px) {
    .xs-margin-bottom-30 {
        margin-bottom: 30px;
    }

    .char-cont-margin {
        margin-top: 10px;
    }
}

@media (min-width: 768px) {
    /*.char-cont {
        width: 720px;
    } */

    /* Display content in the center of the screen on medium and large devices */
    .quiz-row {
        display: flex;
        align-items: center;
        min-height: 100vh;
    }
}

@media (min-width: 576px) {
    /* .container-max-sm {
        width: 540px;
    } */
}

@media (max-width: 992px) {
    /* For smaller screens: Set max-height for picture in descriptive text in character.html to 80 vh...
    to always make the image fully visible without needing to scroll */
    .char-description-pic {
        max-height: 80vh;
    }

    /* index.html --> For smaller devices: Change flex-direction of image in descriptive text and... */
    .img-right-row {
        flex-direction: column;
    }

    /* ...ensure the image itself is centered and does not overflow on the x-axis */
    #friends_pic07 {
        margin: 0px auto 30px auto;
        display: block;
        max-width: 75vw;
    }
}
