<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Make page device resoponsive -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
    
            <!-- Add browser tab icon and link CSS -->
            <link rel="icon" href="{{ url_for('static', filename='/img/Friends_logo_icon.ico') }}" type="image/x-icon">
            <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    </head>
    <body id="access-denied-page">
        <h1 class="friends-font">Access denied...</h1>
    </body>
</html>