{% extends "layout.html" %}

{% block additional_styles %}
    <!-- Link CSS from datatables.net -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css">
{% endblock %}
{% block additional_js %}
    <!-- Link jquery library and JS from datatables.net-->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>

    <script>const games = {{ games | tojson | safe }};</script>
    <script src="{{ url_for('static', filename='leaderboard.js') }}"></script>
{% endblock %}

{% block title %}
	Leaderboard
{% endblock %}

{% block main %}
    <div class="container min-vh-100">
        <div class="standard-textp"></div>
        <h1 class="friends-font margin-bottom-10 text-center">Leaderboard</h1>
        <div class="standard-textp"></div>

        <!-- Leaderboard tables -->
        <!-- Loop trough list of gamedata (which is a list of dictionaries) -->
        {% for game in gamedata %}
            <!-- Each dictionary in gamedata has one key-value pair.
            Key: game_name, value: list of dictionaries with user stats, loop through that dictionary -->
            {% for game_name, stat_list in game.items() %}
                <div class="container">
                    <table id="{{ game_name }}" class="table table-striped">
                        <thead class="friends-font">
                            <tr>
                                <th class="disable-sorting">#</th>
                                <th class="disable-sorting">Name</th>
                                <th>Highsore</th>
                                <th>Badges</th>
                                <th>Times Played</th>
                            </tr>
                        </thead>
                        <tbody class="font-arial">

                            <!-- Loop through list of dicts with user stats and display data as one tablerow per user -->
                            {% for dict in stat_list %}
                                <tr>
                                    <td class="fw-bold fst-italic"></td>
                                    <td>{{ dict["username"] }}</td>
                                    <td>{{ dict["highscore"] }}</td>
                                    <td>{{ dict["number_badges"] }}</td>
                                    <td>{{ dict["times_played"] }}</td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                        <tfoot class="friends-font">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Highscore</th>
                                <th>Badges</th>
                                <th>Times Played</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="standard-textp"></div>
            {% endfor %}
        {% endfor %}

    </div>
{% endblock %}