{% extends "layout.html" %}

{% block additional_js %}
   
{% endblock %}

{% block title %}
	Members Area
{% endblock %}

{% block main %}
    <div class="container min-vh-100">
        <div class="standard-textp"></div>
        <h1 class="friends-font margin-bottom-10 text-center">Members Area</h1>
        <div class="standard-textp"></div>

        <!-- Grid with Game Statistics of user currently logged in -->
        <div class="overflow-auto">
            <div class="container gamestats-cont friends-font card bg-secondary bg-gradient bg-opacity-50">    
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-center py-2 border-bottom text-danger"><h4>{{ username }}</h4></div>
                </div>
                <div class="row">
                    <div class="col-6 d-flex align-items-center justify-content-center py-2 border border-start-0 text-success text-truncate">Accumulated Highscore</div>
                    <div class="col-6 d-flex align-items-center justify-content-center py-2 border border-end-0 text-success">Total Badges</div>
                </div>
                <div class="row">
                    <div class="col-6 d-flex align-items-center justify-content-center py-2 border border-start-0">{{ accum_highscore }}</div>
                    <div class="col-6 d-flex align-items-center justify-content-center py-2 border border-end-0">{{ total_badges }}</div>
                </div>
                <div class="row">
                    <div class="col-3 d-flex align-items-center justify-content-center py-2 border border-start-0 text-success">Game</div>
                    <div class="col-3 d-flex align-items-center justify-content-center py-2 border text-success">Highscore</div>
                    <div class="col-6 d-flex align-items-center justify-content-center py-2 border border-end-0 text-success">Badges</div>
                </div>

                <!-- Loop through the gamedata list, which is a list of dicts -->
                {% for game in gamedata %}
                    {% if loop.last %}
                        {% set last_game = true %}
                    {% endif %}
                    <div class="row">
                        <div class="col-3 d-flex align-items-center justify-content-center py-2 border border-start-0 {% if last_game %} border-bottom-0 {% endif %}">{{ game["name"] }}</div>
                        <div class="col-3 d-flex align-items-center justify-content-center py-2 border {% if last_game %} border-bottom-0 {% endif %}">{{ game["highscore"] }}</div>
                        
                        <!-- Make three div-elements (for-loop) -->
                        {% for i in range(3) %}
                            <div class="col-2 d-flex align-items-center justify-content-center py-2 border {% if last_game %} border-bottom-0 {% endif %} {% if loop.last %} border-end-0 {% endif %}">
                                <!-- If we have not come to the end of the user's badges list, show picture of badge item in the i'th position -->
                                {% if i < game["badges"]|length %}
                                    <img src="{{ url_for('static', filename='img/' ~ medal_pics[i]) }}" alt="Image of {{ game['badges'][i] }} Medal" class="img-fluid">
                                <!-- If we are at the end of the user's badges list, show "Missing Lettering", because the user hasn't won the badge -->
                                {% else %}
                                    <img src="{{ url_for('static', filename='img/missing.png') }}" alt="Missing Lettering" class="img-fluid">
                                {% endif %}
                            </div>
                        {% endfor %}

                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="standard-textp"></div>

        <!-- Game Overview and Link to Leaderboard -->
        <div class="container char-cont">
        
            <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-center">

                <!-- Loop through list of cames and create one card for every game -->
                {% for game in games %}
                    <div class="col">
                        <div class="card shadow-lg">
                            <img src="{{ url_for('static', filename='img/' + game + '/' + game + '_icon.png') }}" class="game-card-img" alt="{{ game.capitalize() }} image">
                            <div class="card-body text-center">
                                <a href="/{{ game }}" class="btn btn-secondary">Play {{ game.capitalize() }} </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <!-- Add card with link to leaderboard at the end -->
                <div class="col">
                    <div class="card shadow-lg">
                        <img src="{{ url_for('static', filename='img/trophy.png') }}" class="game-card-img" alt="Image of a trophy">
                        <div class="card-body text-center">
                            <a href="/leaderboard" class="btn btn-secondary">View Leaderboard</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="standard-textp"></div>
    </div>
{% endblock %}