{% extends "layout_game.html" %}

{% block additional_js %}
    <script>
        const highscore = {{ highscore | tojson | safe }};
        let times_played = {{ times_played | tojson | safe }};
    </script>
    <script src="{{ url_for('static', filename='memory.js') }}"></script>
{% endblock %}

{% block gameboard %}

    <!-- Memory Gameboard with cards -->
    <div class="mem-gameboard-container">
        <div class="mem-gameboard">

            {% for card in cards %}
                <div class="mem-cell">
                    <img src="{{ url_for('static', filename='img/memory/')}}{{ card['back'] }}" data-front="{{ card['front'] }}" class="border border-dark mem-card" alt="Memory Card">
                </div>
            {% endfor %}

        </div>
    </div>
    
{% endblock %}
