{% extends "layout.html" %}

{% block additional_js %}
    <script>
        const questions = {{ questions | tojson | safe }}
    </script>
{% endblock %}

{% block title %}
	Quiz
{% endblock %}

{% block main %}
    <div class="standard-textp"></div>
    <!--Quiz Container-->
    <div class="container">
        <div class ="row quiz-row justify-content-center">
            <div class="col col-md-6">
                <div class="card bg-secondary bg-gradient bg-opacity-50">
                    <div class="card-header">
                        <h3 class="friends-font my-auto">Friends Trivia Quiz</h3>
                    </div>
                    <div class="card-body font-arial">
                        <div>
                            <div id="question-border">
                                <div class="pb-1" id="question"></div>
                            </div>
                        </div>
                        <img src="{{ url_for('static', filename='img/friends_quiz.jpg') }}" class="img-fluid mb-3" id="quiz-img" alt="Friends Quizzing Scene">
                        <div class="d-grid gap-3" id="answers"></div>
                        <div class="standard-textp-no-margin text-center" id="solution">
                            Welcome to the Friends Trivia Quiz! Test your knowledge about the beloved sitcom that captured our hearts and made us laugh for years.
                            Put your Friends expertise to the test and see if you have what it takes to be the ultimate Friends
                            fan. Good luck and enjoy the journey down memory lane!
                        </div>
                    </div>
                    <div class="card-footer font-arial text-center">
                        <button type="button" class="btn btn-secondary bg-success" id="next">Start Quiz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="standard-textp"></div>
{% endblock %}