<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- Make page device resoponsive -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
		<link href="styles.css" rel="stylesheet">
		<script src="main.js"></script>
		<title>Rachel - Friends Forever</title>
	</head>

	<body>
		<!-- Include header/navbar -->
		<header id="include_header"></header>

		<div class="standard-textp"></div>

		<main>
			<!-- Container with Character Image and personal information -->
			<div class="container char-cont">
				<div class="card bg-secondary bg-gradient bg-opacity-50">
					<div class="row row-cols-1 row-cols-sm-2 justify-content-center">
						<div class="row row-cols-1 align-items-end">
							<div class="col text-center char-cont-margin">
								<h2 class="friends-font">Rachel</h2>
							</div>
							<div class="col text-center">
								<img src="img/rachel-free.png" class="char-card-img" alt="Picture of Rachel">
							</div>
						</div>
						<div class="col">
							<h6 class="friends-font mt-3 mb-auto mx-3">Full Name</h6>
							<ul class="char-details font-arial">
								<li>Rachel Karen Green</li>
							</ul>
							<h6 class="friends-font my-auto mx-3">Day of Birth</h6>
							<ul class="char-details font-arial">
								<li>May 05, 1969</li>
							</ul>
							<h6 class="friends-font my-auto mx-3">Gender</h6>
							<ul class="char-details font-arial">
								<li>Female</li>
							</ul>
							<h6 class="friends-font my-auto mx-3">Spouses</h6>
							<ul class="char-details font-arial">
								<li>Ross Geller (1999 - 1999)</li>
							</ul>
							<h6 class="friends-font my-auto mx-3">Main Job</h6>
							<ul class="char-details font-arial">
								<li>Waitress (S1 - S3)</li>
								<li>Buyer and Personal Shopper (S3 - S5)</li>
								<li>Executive at Ralph Lauren</li>
							</ul>
							<h6 class="friends-font my-auto mx-3">Portrayed by</h6>
							<ul class="char-details font-arial">
								<li>Jennifer Aniston</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Text Paragraphs -->
			<div class="container">
				<div class="standard-textp"></div>
				<h1 class="friends-font margin-bottom-10">The sweet girl next door</h1>
				<div class="standard-textp">
					Rachel Green, portrayed by Jennifer Aniston, is the quintessential girl next door who undergoes a remarkable
					transformation throughout the series. From her iconic entrance in a wedding dress to her evolution into a confident,
					independent woman, Rachel's journey is one of self-discovery, love, and personal growth.
				</div>
				<div class="standard-textp">
					Initially introduced as a privileged and sheltered young woman, Rachel's decision to leave her comfortable life
					and forge her own path sets the stage for her transformative journey. Her determination to become self-sufficient leads
					her to work at Central Perk and eventually pursue a successful career in fashion, showcasing her resilience and ambition.
				</div>

				<!-- Text Paragraphs with pic - Achieved with bootstrap. I used row and colums approach instead of a floating pic, because it's a more device responsive approach -->
				<div class="row align-items-center">
					<div class="col-lg-8 col-xl-7">
						<div class="standard-textp">
							Rachel's fashion sense and trendsetting style become an integral part of her character. Her iconic hairstyles
							and ensembles continue to inspire and influence fashion trends even years after the show's conclusion. Rachel's passion
							for fashion serves as a reflection of her evolving identity and her unwavering commitment to personal style.
						</div>
						<div class="standard-textp">
							While Rachel's journey in the professional world is noteworthy, her romantic escapades provide equal measures of drama,
							laughter, and heartfelt moments. From her tumultuous on-again, off-again relationship with Ross to her other romantic
							relationships, Rachel explores the complexities of love, heartbreak, and the pursuit of true happiness.
						</div>
						<div class="standard-textp">
							Beneath her glamorous exterior, Rachel possesses a kind heart and a genuine vulnerability. Her growth is evident in her
							evolving friendships with her fellow friends, as she learns to value their support and reciprocate their love. Rachel's
							journey showcases the transformative power of friendship and the importance of building meaningful connections.
						</div>
					</div>
					<div class="col-lg-4 col-xl-5 text-center">
						<img src="img/rachel-eating.webp" class="img-fluid char-description-pic padding-bottom-30" alt="Picture of Rachel eating something">
					</div>
				</div>

				<!-- Text Paragraphs -->
				<div class="standard-textp">
					Rachel's journey of self-discovery extends beyond her professional and romantic pursuits. As she navigates the challenges of adulthood,
					Rachel grapples with finding her own identity and defining her place in the world. Her transformation from a young woman dependent on
					her family's wealth to an individual carving out her own path showcases the courage and determination required to break free from societal
					expectations.
				</div>
				<div class="standard-textp">
					Rachel's growth is evident not only in her career and personal life but also in her evolving sense of self-confidence and assertiveness.
					Throughout the series, she finds her voice and learns to stand up for herself, setting boundaries and demanding the respect she deserves.
					Rachel's journey serves as a reminder of the importance of self-empowerment and embracing one's worth.
				</div>
				<div class="standard-textp">
					Amidst the trials and tribulations, Rachel's journey is marked by moments of vulnerability and raw emotion. From her heartfelt conversations
					with her friends to her honest introspection, she confronts her fears, insecurities, and past mistakes head-on. Rachel's willingness to
					confront her own shortcomings and take responsibility for her actions demonstrates her growth as a person and adds depth to her character.
				</div>
				<div class="standard-textp">
					In summary, Rachel Green embodies resilience, independence, and personal growth. Her fashion-forward choices, evolving friendships, and
					romantic endeavors make her an outstanding character of the sitcom. Rachel's journey of self-discovery, her pursuit of happiness, and her
					unwavering determination inspire viewers to embrace change, strive for personal fulfillment, and believe in the transformative power of
					their own journeys.
				</div>
			</div>

			<!-- Include Quiz Modal Pop Up -->
			<div id="include_QuizModal"></div>
			<div class="page-overlay"></div>
		</main>

		<!-- Include footer -->
		<div id="include_footer"></div>
	</body>
</html>